body{
	background-color:#117F40;
	color: #ffffff;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	}
a{
	color: #ffffff;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}
.but{padding:0px;width:8em;text-align:center;font-size:90%;}
.but a{display:block;text-decoration:none;color:black;background-color:#ffffff;
       border:3px outset #cccccc;border-bottom-color:#666666;border-top-color:#cccccc;
           padding-top:2px;padding-bottom:2px;opacity:1;filter:alpha(opacity=100)}
.but a:hover{background-color:#cccccc;border:3px #666666 solid;border-bottom-color:#cccccc;
                     border-right-color:#cccccc;opacity:0.8;filter:alpha(opacity=80);}